// font variables

$font: 'Red Hat Display', sans-serif;
$parSize: 16px;

// color variables

// primary
$paleBlue: hsl(225, 100%, 94%);
$brigntBlue: hsl(245, 75%, 52%);
// secondary
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
$lightBlue: rgba(227, 233, 252, 0.9);
$purpleLink: hsl(228, 45%, 44%);
$buttonHover: hsl(245, 67%, 60%);

$bgDesktop: url(https://raw.githubusercontent.com/karina4840/oreder-summary/839b3be89d3688704fadc284585f143d2f77b004/sass/resources/pattern-background-desktop.svg);
//$bgMobile: ;