html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e8ff;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

body .card {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
  border-radius: 1.5em;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 15px 25px rgba(153, 150, 192, 0.466);
          box-shadow: 0px 15px 25px rgba(153, 150, 192, 0.466);
}

body .card .hero {
  margin: 0;
}

body .card .hero-image {
  width: 100%;
  display: block;
}

body .card .summary {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body .card .summary .summary-title {
  color: #1f2f56;
  font-size: 25px;
  font-weight: 900;
  margin-top: 2rem;
}

body .card .summary .description {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: #7280a7;
  font-weight: 500;
  line-height: 1.7;
  font-size: 15px;
}

body .card .wrapper-big-section {
  margin: 0.7rem auto;
  padding: 7px 0;
  width: 85%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: #f5f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: grid;
          flex-direction: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .card .wrapper-big-section .music-icon {
  height: 50px;
  width: 50px;
  margin: 10px 15px;
}

body .card .wrapper-big-section .wrapper-small {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.7;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 14px;
}

body .card .wrapper-big-section .wrapper-small .annual-plan {
  color: #1f2f56;
  font-weight: 900;
}

body .card .wrapper-big-section .wrapper-small .annual-cost {
  color: #7280a7;
  font-weight: 500;
}

body .card .wrapper-big-section .change-link {
  margin: 0 15px 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

body .card .wrapper-big-section a:link, body .card .wrapper-big-section a:visited {
  color: #3829e0;
}

body .card .wrapper-big-section a:hover, body .card .wrapper-big-section a:active {
  color: #3e52a3;
  text-decoration: none;
}

body .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .card .buttons .primary-button {
  width: 85%;
  padding: 15px 0px;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 25px rgba(90, 78, 228, 0.349);
          box-shadow: 0px 15px 25px rgba(90, 78, 228, 0.349);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  background-color: #3829e0;
  font-size: 16px;
  color: #f5f7ff;
  font-weight: 700;
  text-decoration: none;
}

body .card .buttons .primary-button:hover {
  background-color: #6055dd;
  color: #f5f7ff;
  text-decoration: none;
}

body .card .buttons .secondary-button {
  text-decoration: none;
  color: #7280a7;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

body .card .buttons .secondary-button:hover {
  color: #1f2f56;
}

body .attribution {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

body a {
  text-decoration: none;
  color: #3e52a3;
}

@media (min-width: 700px) and (max-width: 1099px) {
  body {
    background-image: url(https://raw.githubusercontent.com/karina4840/oreder-summary/839b3be89d3688704fadc284585f143d2f77b004/sass/resources/pattern-background-desktop.svg);
    width: 70%;
  }
  body .card {
    width: 50%;
  }
  body .card .summary .summary-title {
    font-size: 22px;
    font-weight: 900;
    margin-top: 1.7rem;
  }
  body .card .summary .description {
    line-height: 1.7;
    font-size: 12px;
  }
  body .card .wrapper-big-section .music-icon {
    height: 40px;
    width: 40px;
  }
  body .card .wrapper-big-section .wrapper-small, body .card .wrapper-big-section .change-link {
    font-size: 12px;
  }
  body .card .buttons .primary-button, body .card .buttons .secondary-button {
    font-size: 12px;
  }
}

@media (min-width: 1100px) {
  body {
    background-image: url(https://raw.githubusercontent.com/karina4840/oreder-summary/839b3be89d3688704fadc284585f143d2f77b004/sass/resources/pattern-background-desktop.svg);
    width: 50%;
  }
  body .card {
    width: 45%;
  }
  body .card .summary .summary-title {
    font-size: 23px;
    font-weight: 900;
    margin-top: 1.7rem;
  }
  body .card .summary .description {
    line-height: 1.7;
    font-size: 12px;
  }
  body .card .wrapper-big-section .music-icon {
    height: 40px;
    width: 40px;
  }
  body .card .wrapper-big-section .wrapper-small, body .card .wrapper-big-section .change-link {
    font-size: 12px;
  }
  body .card .buttons .primary-button, body .card .buttons .secondary-button {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  body {
    background-image: url(https://raw.githubusercontent.com/karina4840/order-summary/main/sass/resources/pattern-background-mobile.svg);
    width: 100%;
  }
  body .card {
    width: 85%;
  }
  body .card .summary .summary-title {
    font-size: 20px;
    font-weight: 900;
    margin-top: 1.7rem;
  }
}

@media (max-width: 325px) {
  body {
    background-image: url(https://raw.githubusercontent.com/karina4840/order-summary/main/sass/resources/pattern-background-mobile.svg);
    width: 100%;
  }
  body .card {
    width: 85%;
  }
  body .card .summary .summary-title {
    font-size: 18px;
  }
  body .card .summary .description {
    font-size: 12px;
  }
  body .card .wrapper-big-section .wrapper-small, body .card .wrapper-big-section .change-link {
    font-size: 12px;
  }
  body .card .buttons .primary-button, body .card .buttons .secondary-button {
    font-size: 12px;
  }
  body .attribution {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */